extends layout

block content
  .w3-container.w3-sand.w3-auto
    .w3-card-4.w3-pale-yellow.inicio
      div.botao.w3-margin
        table.w3-table
          th
            h2.tt ResourceForYou 🐯
          
          th.tt 
            form(action="/feed"  enctype= "multipart/form-data" method="GET")
                select.w3-btn.w3-pale-yellow.w3-margin-bottom.w3-margin-top.minha(name='type' )
                  option(value='ano') Ano
                  option(value='anoC') Ano de Criação
                  option(value='tipo') Tipo
                  option(value='titulo') Titulo
                  option(value='autor') Autor
                input.w3-btn.w3-pale-yellow.minha(type='text', name='search', placeholder='Pesquisar...')
          th.tt
              ul
                button.w3-button.w3-pale-yellow.w3-margin-top.w3-margin-bottom.minha
                  a(href='/perfil/') Perfil
                button.w3-button.w3-pale-yellow.w3-margin-top.w3-margin-bottom.minha
                  a(href='/addfiles/') Adicionar recurso
                button.w3-button.w3-pale-yellow.w3-margin-top.w3-margin-bottom.minha
                  a(href='/users') Lista de Users
                button.w3-button.w3-pale-yellow.w3-margin-top.w3-margin-bottom.minha
                  a(href='/logout')  Logout
      .w3-container.w3-pale-yellow
        table.w3-table
            
            th 
              each recurso in recursos
                    tr
                        th
                            ul="Data do post: "  
                                                  - var today = new Date(recurso.data);
                                                  - var dayNum = today.getDate(); 
                                                  - var month = today.getUTCMonth()+1;
                                                  - var year = today.getFullYear();
                                                    if (dayNum<10) 
                                                      dayNum= "0" + dayNum
                                                    else 
                                                      dayNum=dayNum
                                                    if (month<10) 
                                                      month= "-0" + month
                                                    else 
                                                      month="-"+month
                                                    year= "-" +year + " Data de criação do recurso: " + recurso.dataCriacao
                            ul="Autor: " + recurso.autor
                            if (recurso.subtitulo != null)
                              ul="Titulo: " +recurso.titulo + " Subtitulo: " + recurso.subtitulo
                            else 
                              ul="Titulo: " +recurso.titulo
                            ul="Tema: " +recurso.tema  + " Tipo: " +recurso.tipo
                            if(recurso.descricao != null)
                              ul="Descrição: " +recurso.descricao  
                            ul= "Ficheiro: "
                              each file in recurso.files
                                  a.background-hover.rounded(href='../ficheiros/'+file.name  target="_blank") #{file.originalName}
                                  
                                   ul
                                    a(href='../ficheiros/'+file.name)
                                    img.image-cover(src="../ficheiros/"+file.name style='max-width:500px; max-height:500px;' target="_blank")
                            th
                                  button.w3-button(class="fas fa-star" type='button' onclick="incrementaStar('"+recurso._id+"')")= recurso.stars.numero
                            th      
                                  div.tamanho
                                    .w3-container(style= "overflow:auto")
                                        a(data-toggle="modal" data-target=`#normalModal${recurso._id}` class="btn btn-default" style= "overflow:auto") Comments
                                        // Modal content
                                    div.tam.w3-margin-pes(id=`normalModal${recurso._id}` class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style= "overflow:auto")
                                        div(class="modal-dialog" role="document" style= "margin:0;")
                                        div.tamanho.w3-pale-yellow(class="modal-content")
                                            div(class="modal-body" )
                                                form.w3-container(method='POST' action=`/comentar/${recurso._id}` )
                                                  p Novo Comentário
                                                  input.w3-input.w3-border.w3-light-grey.w3-margin-bottom(type="text" name="text")
                                                  input.w3-btn.w3-pale-yellow.w3-margin-bottom(type='submit' value='Comentar')
                                                table.w3-table(style= "overflow:auto")
                                                  
                                                    each comentario in recurso.comentarios.reverse()
                                                      tr
                                                        th
                                                          ul="Data:  "  
                                                                       - var today1 = new Date(comentario.data);
                                                                       - var dayNum1 = today1.getDate(); 
                                                                       - var month1 = today1.getMonth()+1;
                                                                       - var year1 = today1.getFullYear();
                                                                          if (dayNum1<10) 
                                                                            dayNum1= "0" + dayNum1
                                                                          else 
                                                                            dayNum1=dayNum1
                                                                          if (month1<10) 
                                                                            month1= "-0" + month1
                                                                          else 
                                                                            month1="-"+ month1
                                                                          year1= "-" +year1
                                                                                        
                                                          ul="Autor:" + comentario.user_id
                                                          ul="Comentario: " +comentario.text
                                                        th
                                                          button.w3-button(class="fas fa-star" type='button' onclick="addstarComent('"+ recurso._id+"','"+comentario._id+"')")= comentario.stars.numero
                                                        th 
                                                          button.w3-button(class="fas fa-trash" type='button'  onclick="deleteComent('"+ recurso._id+"','"+comentario._id+"')")
                                                div(class="modal-footer" )
                                                button(type="button" class="btn btn-default" data-dismiss="modal") Close
                        th 
                          buttoni.w3-btn(class="fas fa-trash" type='button' onclick="deletepost('"+recurso._id+"')")